pandas>=1.5
numpy>=1.23
matplotlib>=3.6
seaborn>=0.12
jupyterlab>=4.0
ipykernel>=6.0
nbformat>=5.9
plotly>=5.18
kaleido==0.2.1
dash>=2.14
dash-bootstrap-components>=1.5
scikit-learn>=1.2
statsmodels>=0.13
